tiktoken
openai
tabulate
python-environ
yt_dlp
ffmpeg
tiktoken
streamlit # https://github.com/hwchase17/langchain/issues/7548
python-dotenv
# Vector DB
pinecone-client
chromadb
clickhouse-connect  # MyScale
# Confluence
atlassian-python-api
lxml
markdownify

langchain-openai
pypdf
unidecode
gradio
langchain-community

